html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

.wrapper {
	padding: 20px 50px 50px;
}

.navbar-brand {
	width: 100%;
	text-align: center;
	margin-left: 0 !important;
}

#map-canvas {
	width: 100%;
	height: 350px;
	display: none;
}

/* Google Maps infobox scroll fix */
.mapInfobox {
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}

.formWrapper {
	position: relative;
	float: left;
	width: 300px;
	margin-left: 50px;
}

.forms {
	padding: 20px;
}

.results {
	padding-left: 430px;
	padding-right: 50px;
}

.tweet, .frequentWord {
	min-height: 90px;
	padding: 20px 10px 10px;
	border-bottom: 1px solid #e7e7e7;
}

.tweet:hover, .frequentWord:hover{
	/*background-color: #f4f8f9;*/
}

.tweetImg {
	height: 50px;
	float: left;
}

.tweetImgSmall {
	height: 30px;
	padding: 0 2px;
	vertical-align: middle;
}

.tweetContent {
	margin-left: 70px;
}

.tweetUser, .term {
	font-weight: bold;
}

.tweetStats {
	color: #bbb;
}

.getRetweets {
	margin-left: 5px;
}

.wordRank {
	width: 55px;
	height: 60px;
	float: left;
	font-size: 40px;
	margin-right: 20px;
	text-align: right;
}

.termStats{
	margin-top: 18px;
}

.termCount{
	margin:0px 20px;
	font-style: italic;
}

.viewUserCounts{
	font-style: italic;
}

.userCounts{
	display: none;
	margin-left:90px;
	margin-top:15px;
}

.userCount{
	margin-bottom: 15px;
}

.visitProfile{
	font-weight:bold;
}

.venue {
	min-height: 120px;
	padding: 20px 10px 0;
	border-bottom: 1px solid #e7e7e7;
}

.venueImg {
	height: 80px;
	width: 80px;
	float: left;
}

.venueContent {
	margin-left: 100px;
}

.venueName {
	font-weight: bold;
}
