html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

.wrapper {
	padding: 20px 50px 50px;
}

.navbar-brand {
	width: 100%;
	text-align: center;
	margin-left: 0 !important;
}

#map-canvas {
	width: 100%;
	height: 350px;
	display: none;
}

/* Google Maps infobox scroll fix */
.mapInfobox {
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}

.formWrapper {
	position: relative;
	float: left;
	width: 300px;
	margin-left: 50px;
}

.forms {
	padding: 20px;
}

.results {
	padding-left: 430px;
	padding-right: 50px;
}

.tweet {
	min-height: 100px;
	padding: 20px 10px;
	border-bottom: 1px solid #e7e7e7;
}

.tweet:hover {
	background-color: #f4f8f9;
}

.tweetImg {
	height: 60px;
	float: left;
}

.tweetImgSmall {
	height: 20px;
	padding-right: 3px;
	opacity: 0.5;
	vertical-align: top;
}

.tweetImgSmall:hover {
	opacity: 1;
}

.tweetContent {
	margin-left: 70px;
}

.tweetUser {
	font-weight: bold;
}

.tweetStats {
	color: #bbb;
}

.getRetweets {
	margin-left: 5px;
}

.venue {
	min-height: 100px;
	padding: 10px;
	margin-bottom: 10px;
}

.venueImg {
	height: 80px;
	width: 80px;
	float: left;
}

.venueContent {
	margin-left: 100px;
}

.venueName {
	font-weight: bold;
}
